/* font-family: 'Open Sans', sans-serif; font-family: 'Raleway', sans-serif; */
/* идет по умолч.для
Заголовков (h1-h6) font-weight: 700; */
/* идет по умолч.для абзацев (р) font-weight: 400;*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration:
        none;
}

/* Кастормные свойства */
:root {
    --main-font: 'Open Sans', sans-serif;
    --secondary-font:
        'Raleway', sans-serif;
    --main-text-color-theme-dark: 157, 164, 189;
    --secondary-text-color-theme-dark: #ffffff;
    --main-text-color-theme-light: #303030;
    --secondary-text-color-theme-light: #555555;
    --accent-color: #ff6c00;
}

body {
    font-family:
        var(--main-font);
}

/* ===========COMPANENTS============== */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.section {
    padding-top: 130px;
    padding-bottom: 130px;
}

.modal-btn {

    border: 1px solid var(--accent-color);
    border-radius: 25px;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    /* прозрачний
цвет */
    background-color: transparent;
    cursor: pointer;
    padding: 12px 20px;
}

.modal-btn-theme-light {
    color:
        var(--main-text-color-theme-light);
}

.modal-btn-theme-dark {
    /* color:
var(--secondary-text-color-theme-dark); */
}

.modal-btn:hover,
.modal-btn:focus {
    background-color:
        var(--accent-color);
    color: var(--secondary-text-color-theme-dark);
}

.social-links-list {
    display: flex;
}

.social-links-item:not(:last-child) {
    margin-right: 40px;
}

.social-links-list-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color:
        var(--main-text-color-theme-light);
}

.social-links-list-link:hover,
.social-links-list-link:focus {
    color: var(--accent-color);
}

.suptitle {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.suptitle-theme-dark {
    color:
        rgba(var(--main-text-color-theme-dark), 0.6);
}

.suptitle-theme-light {
    color:
        var(--main-text-color-theme-light);
}

.description {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.description-theme-light {
    color: var(--secondary-text-color-theme-light);
}

.description-theme-dark {
    color: rgb(var(--main-text-color-theme-dark));
}

.title {
    font-family:
        var(--secondary-font);
    font-weight: 700;
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;

}

.title-theme-light {
    color: var(--main-text-color-theme-light);
}

.title-theme-dark {
    color: #ffffff;
}

/* ========END
COMPANENTS============ */
/* =========header============*/
.header {
    padding: 32px 0;
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 70px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 40px;
}

.menu-link {
    font-weight: 600;
    font-size:
        12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.menu-link:hover,
.menu-link:focus {
    color:
        var(--accent-color);
}

.tel-link {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    margin-left: auto;
    margin-right: 40px;
}

.tel-link:hover,
.tel-link :focus {
    color: var(--accent-color);
}

/*
=========end header============*/
/* ============hero ===============*/
.hero-container {
    display: flex;
}

.hero-left-side {
    width: 100px;
}

.hero-description {
    max-width: 400px;
}

.hero-title {
    font-family:
        var(--secondary-font);
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    color: var(--secondary-text-color-theme-dark);
}

.hero-right-side {
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;
    flex-grow: 1;
    background-color: #333;
}

/*
===========end hero ============*/
/* ==========ABOUT================= */
.about-container {
    display: flex;
}

.about-left-side {
    margin-right: 30px;
}

.about-list {
    display: flex;
}

.about-text {
    font-size:
        14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 40px;
}

.about-title {
    margin-bottom: 20px;
}

.about-description {
    margin-bottom: 20px;
}

.about-list-item:not(:last-child) {
    margin-right: 30px;
}

/* ==========END ABOUT================= */
/* ===========SERVICES ============*/
.services-list-name,
.sevices-list-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: rgb(var(--main-text-color-theme-dark));
}

/* ===========SERVICES
============*/
/* ================= ADVANTAGES ================= */
.advantages-list-count {
    font-weight: 700;
    font-size: 42px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--main-text-color-theme-light);
}

.advantages-list-desc {
    font-weight: 600;
    font-size:
        11px;
    line-height: 1.36;
    text-align: center;
    color: var(--main-text-color-theme-light);
}

/*
================= /ADVANTAGES ================= */
/* =============OUR TEAM =============== */
.our-team {
    background-color: #F7F7F7;

}

.our-title {
    margin-bottom: 44px;
}



.our-team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.our-team-list-item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
}

.our-team-list-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.39;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-text-color-theme-light);
    margin-bottom: 8px;
}

.our-team-list-content {
    margin-top: 30px;
}

.our-team-list-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

/* =============END OUR TEAM =============== */
/*
============PORTFOLIO ==============*/
.portfolio-suptitle {
    margin-bottom: 44px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-list-item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
}

.portfolio-suptitle {}

/* ============END PORTFOLIO ==============*/
/*
================= CONTACT ================= */
/* ================= END CONTACT ================= */
/* ================= CONTACT INFORMATION ================= */
.copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color:
        rgb(var(--main-text-color-theme-dark));
}

/* ================= END CONTACT INFORMATION
================= */