/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
 */
/* идет по умолч.для Заголовков (h1-h6)
	font-weight: 700; */
/* идет по умолч.для абзацев (р) 
	font-weight: 400;*/

/* Кастормные свойства */

:root {
	--main-font: "Open Sans", sans-serif;
	--secondary-font: "Raleway", sans-serif;
	--main-text-color-theme-dark: 157, 164, 189;
	--secondary-text-color-theme-dark: #ffffff;
	--main-text-color-theme-light: #303030;
	--secondary-text-color-theme-light: #555555;
	--accent-color: #ff6c00;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

body {
	font-family: var(--main-font);
}

/* ===========COMPANENTS============== */
.modal-btn {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.9em;
	text-transform: uppercase;
	/* прозрачний цвет */
	background-color: transparent;
	cursor: pointer;
}
.modal-btn-theme-light {
	color: var(--main-text-color-theme-light);
}

.modal-btn:hover,
.modal-btn:focus {
	background-color: var(--accent-color);
	color: #ffffff;
}

.social-links-list-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;
	color: #303030;
}

.social-links-list-link:hover,
.social-links-list-link:focus {
	color: var(--accent-color);
}

.suptitle {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #9da4bd;
}
.description {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: #9da4bd;
}
.title {
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 42px;
	line-height: 1.17;
	letter-spacing: 0.05em;

	color: #303030;
}
.suptitle-theme-dark {
	color: rgba(var(--main-text-color-theme-dark), 0.6);
}

.suptitle-theme-light {
	color: var(--main-text-color-theme-light);
}
/* ========END   COMPANENTS============ */

/* =========header============*/

.menu-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
}

.menu-link:hover,
.menu-link:focus {
	color: var(--accent-color);
}

.tel-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
}

.tel-link:hover,
.tel-link :focus {
	color: var(--accent-color);
}

/* =========end  header============*/

/* ============hero ===============*/

.hero-title {
	font-family: var(--secondary-font);
	font-size: 72px;
	line-height: 1.18;
	letter-spacing: 0.05em;
}
/* ===========end hero ============*/

/* ==========ABOUT================= */
.about-text {
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;

	color: #555555;
}
/* ==========END ABOUT================= */
